:root {
  --background: #0F1117;
  --text: #c3c3c3;
  --white: #ffffff;
  --link: #4865b4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
}
