.header {
  align-items: center;
  justify-content: flex-start;
  background: var(--background);
  color: var(--white);
  display: flex;
  font-size: 20px;
  font-weight: 700;
  padding: 0 2rem;
  margin: 0 auto;
  height: 4rem;

}

.header a {
  display: flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
}

.header  svg {
  margin-left: 0.25rem;
}