.header {
  align-items: center;
  background: var(--background);
  color: var(--white);
  /* border-bottom: 3px solid var(--white); */
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  justify-content: center;
  padding: 2rem 0;
  margin: 0 auto;
}

.header a {
  display: flex;
  align-items: center;
  color: var(--white);
  text-decoration: none;
}

.header  svg {
  margin-left: 0.25rem;
}