.container{
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 4rem);
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer{
  width: 60%;
  height: 25rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(195, 203, 216, 0.22);
  display: flex;
}

.subContainer img{
  width: 30%;
  height: 100%;
  border-radius: 8px;
}

.info {
  padding: 2%;
  font-family: 'Poppins', sans-serif;
}


