.container{
  width: 100%;
  max-width: 100%;
  height: calc(100vh - 4rem);
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subContainer{
  width: 60%;
  height: 25rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(195, 203, 216, 0.22);
  display: flex;
}

.subContainer img{
  width: 30%;
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.info {
  padding: 2%;
  font-family: 'Poppins', sans-serif;
}

.infoHeader {
  display: flex;
  margin-bottom: 2rem;
}

.infoHeader strong {
  margin-right: 0.5rem;
}


.infoHeader span {
  margin: 0 1rem;
}
.titleInfo {
  display: flex;
  align-items: center;
}
.back {
  margin-left: auto;
  font-weight: 700;
  text-decoration: underline;
}
.back a {
  color: var(--background);
}
.back a:hover {
  color: var(--link);
}